.blockade{
	position:fixed;
	border: none;
	width:100%;
	height:100%;
	background:#000;
	top:0;
	left:0;
	float:left;
}
.charger_small{
	position:fixed;
	background:#FFF url(../images/loaderBall.gif) center no-repeat;
	top:50%;
	left:50%;
	width:40px;
	height:40px;
	border-radius:6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-moz-box-shadow: 0pt 0pt 15px rgba(0, 0, 0, 0.5); 
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
/* Init code here */